
  .square {
    background-repeat: no-repeat;
    background-size: contain;
    /* background: #fff; */
    border: 1px solid #999;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
  }

  .closed {
    /*background-image: url('src\assets\img\mine-field\closed-square.png');*/
    background-image: url('src\assets\img\mine-field\squares\closed-square.svg');
  }

  .empty-square {
    background-image: url('src\assets\img\mine-field\squares\empty-square.svg');
  }

  .one-bomb {
    background-image: url('src\assets\img\mine-field\squares\one-bomb.svg');
  }

  .two-bombs {
    background-image: url('src\assets\img\mine-field\squares\two-bombs.svg');
  }
  
  .three-bombs {
    background-image: url('src\assets\img\mine-field\squares\three-bombs.svg');
  }
  
  .four-bombs {
    background-image: url('src\assets\img\mine-field\squares\four-bombs.svg');
  }

  .five-bombs {
    background-image: url('src\assets\img\mine-field\squares\five-bombs.svg');
  }

  .six-bombs {
    background-image: url('src\assets\img\mine-field\squares\six-bombs.svg');
  }

  .seven-bombs {
    background-image: url('src\assets\img\mine-field\squares\seven-bombs.svg');
  }

  .eight-bombs {
    background-image: url('src\assets\img\mine-field\squares\eight-bombs.svg');
  }

  .hit-bomb {
    background-image: url('src\assets\img\mine-field\squares\hit-bomb.png');
  }

  .exposed-bomb {
    background-image: url('src\assets\img\mine-field\squares\exposed-bomb.png');
  }

  .flagged {
    background-image: url('src\assets\img\mine-field\squares\flag.svg');
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  